:root {
    --soul-color-theme: #33bfab;
    --soul-color-text-primary: #303133;
    --soul-color-text-normal: #606266;
    --soul-color-text-secondary: #909399;
    --soul-color-text-placeholder: #C0C4CC;
    --soul-color-border-1: #DCDFE6;
    --soul-color-border-2: #E4E7ED;
    --soul-color-border-3: #EBEEF5;
    --soul-color-border-4: #F2F6FC;
    --soul-font-family-sans-serif: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    --soul-font-family-monospace: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

* {
    font-family: inherit;
    color: inherit;
}
/*
*:not(h1, h2, h3, h4, h5, h6, small, big, rt, sup, sub) {
    font-size: inherit;
}*/
body {
    font-family: var(--soul-font-family-sans-serif);
    margin: 0;
}
h1, h2, h3, h4 {
    color: var(--soul-color-text-primary);
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 18px;
}
h3 {
    font-size: 16px;
}
h4, h5, h6 {
    font-size: 16px;
}
h5 {
    color: var(--soul-color-text-normal);
}
h6 {
    color: var(--soul-color-text-secondary);
}
p {
    font-size: 14px;
    line-height: 1.5;
    color: var(--soul-color-text-normal);
}
p.soul-p1 {
    color: var(--soul-color-text-primary);
}
p.soul-p2 {
    color: var(--soul-color-text-secondary);
    font-size: 12px;
}

.soul-header {
    margin: 8px;
    padding: 0 10%;
    border-bottom: 1px solid var(--soul-color-border-1);
}
.soul-header-logo {
    float: left;
}
.soul-header-logo a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: var(--soul-color-theme);
}
.soul-header-logo img {
    height: 60px;
    vertical-align: middle;
}
.soul-header-navi {
    float: right;
    line-height: 61px;
}
.soul-header-navi .soul-header-navi-search {
    float: left;
    width: 160px;
}
.soul-header-navi .soul-header-navi-tabs {
    float: left;
    margin-top: -1px;
}
.soul-main {
    margin: 8px;
    padding: 20px 10%;
}
.soul-main > .el-breadcrumb {
    margin-bottom: 1rem;
}
.soul-footer {
    background-color: rgb(214, 242, 238);
    margin: 0;
    padding: 2rem calc(10% + 8px) 8rem;
}
.soul-footer-flex {
    flex-wrap: wrap;
}
.soul-footer-col {
    display: inline-block;
    flex: auto;
}
.soul-footer-col p {
    margin: 0.3em 0;
}

code, pre, .soul-monospace {
    font-family: var(--soul-font-family-monospace);
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both
}

:focus {
    outline: none;
}


@media screen and (max-width: 600px) {
    .soul-header {
        height: 120px !important;
    }
    .soul-header-logo {
        float: none;
    }
    .soul-header-navi {
        float: none;
    }
    .soul-header-navi-tabs {
        margin: 0 auto;
    }
}