@font-face {
    font-family: 'Source Han CN';
    font-weight: normal;
    src: url(../fonts/source-han-sans-cn/sourcehansanscn-regular.otf);
}

@font-face {
    font-family: 'Source Han CN';
    font-weight: bold;
    src: url(../fonts/source-han-sans-cn/sourcehansanscn-bold.otf);
}

:root {
    --soul-color-theme: #33bfab;
    --soul-color-text-primary: #303133;
    --soul-color-text-normal: #606266;
    --soul-color-text-secondary: #909399;
    --soul-color-text-placeholder: #C0C4CC;
    --soul-color-border-1: #DCDFE6;
    --soul-color-border-2: #E4E7ED;
    --soul-color-border-3: #EBEEF5;
    --soul-color-border-4: #F2F6FC;
    --soul-font-family-sans-serif:
        '思源黑体 CN',
        'Source Han CN',
        '苹方-简',
        'PingFang SC',
        '微软雅黑',
        'Microsoft YaHei',
        sans-serif;
    --soul-font-family-monospace:
        SFMono-Regular,
        Menlo,
        Monaco,
        Consolas,
        "Liberation Mono",
        "Courier New",
        monospace;
}

* {
    caret-color: var(--soul-color-theme);
}

::selection {
    background-color: #33bfab80;
}

p,
.soul-p,
.soul-p1,
.soul-p2 {
    line-height: 1.5;
}

.soul-p1 {
    color: var(--soul-color-text-primary);
}

.soul-p2 {
    color: var(--soul-color-text-secondary);
    font-size: 0.85em;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both
}

:focus {
    outline: none;
}

.soul-shit-flex {
    display: flex;
    flex-wrap: wrap;
}
  
.soul-shit-flex > * {
    flex: auto;
}

/***********************
 * BOOTSTRAP-VUE FIXES *
 ***********************/

select.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.card {
    min-width: 250px;
}

.b-sidebar-backdrop,
.modal-backdrop {
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
}
