<!doctype html>
<html lang="en">
<!--
  这是灵魂小站 / 应用 / 灵魂实验室!
  ID: apps.lab.index // soullabindex
-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="/css/element.css">
  <link rel="stylesheet" href="/css/commons.css">
  <link rel="stylesheet" href="/css/prism.css">
  <link rel="icon" href="/site_icon.png">
  <link rel="shortcut icon" href="/site_icon.png">
  <link rel="apple-touch-icon" href="/site_icon.png" sizes="160x160">
  <script src="/js/tests.js"></script>
  <script src="/js/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
  <script src="/js/commons.js"></script>
  <title>灵魂实验室 - 灵魂小站</title>
  <style>
    .soullabindex-flex {
      flex-wrap: wrap;
    }
    .soullabindex-card {
      flex: 1;
      min-width: 300px;
      margin: 1rem 8px;
    }
    .soullabindex-card-link {
      float: right;
      padding: 3px 0;
    }
    .soullabindex-card img {
      float: left;
      height: 60px;
      margin: 1rem;
    }
  </style>
</head>

<body>
  <div id="app">
    <soul-header default-active="apps"></soul-header>
    <soul-main>
      <el-breadcrumb separator-class="el-icon-arrow-right">
        <el-breadcrumb-item><a href="/apps">应用</a></el-breadcrumb-item>
        <el-breadcrumb-item>灵魂实验室</el-breadcrumb-item>
      </el-breadcrumb>

      <el-container class="soullabindex-flex">
        <el-card
        v-for="item in a"
        :key="item.title"
        class="soullabindex-card"
        shadow="hover"
        >
          <div slot="header" class="clearfix">
            <span>{{item.title}}</span>
            <el-link
            v-if="item.link"
            type="primary"
            class="soullabindex-card-link"
            :href="item.link"
            >进入</el-link>
          </div>
          <div v-html="item.body"></div>
        </el-card>
      </el-container>
    </soul-main>
    <soul-footer :links="[
      { href: 'https://esolangs.org', text: 'Esolangs 维基' },
      { href: 'https://www.mywiki.cn/dgck81lnn/index.php/分类:深奥编程语言', text: '我博客上的“深奥编程语言”分类' }
    ]"></soul-footer>
  </div>
</body>
<script>
  const vm = new Vue({
    el: "#app",
    data: {
        a: [
            {
                title: "brainfuck 在线工具",
                body: `<img src="brainfuck.jpg">
                <p>
                    <a href="https://baike.baidu.com/item/Brainfuck/1152785" target="_blank">Brainfuck - 百度百科</a><br>
                    <a href="https://esolangs.org/brainfuck" target="_blank">brainfuck - Esolang维基</a>
                </p><p>
                    万能（确信）脑操（雾）调试器，可以随意调整环境配置！
                </p>`,
                link: "brainfuck.html"
            },
            {
              title: "更多内容即将到来...",
              body: ""
            }
        ]
    }
  });
</script>

</html>
