<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
		<link rel="stylesheet" href="style/index.css">
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
		<style>
			p,h2{
				font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
			}
			p,.soul-p{
				font-size: 14px;
				line-height: 1.5;
				color: #606266;
			}
			p.soul-p1{
				color: #303133;
			}
			p.soul-p2{
				color: #909399;
				font-size: 12px;
			}
			.el-link{
				font-size: inherit;
			}
		</style>
	</head>
	<body>
		<div id="app">
		<el-container><!--
			<el-header>
				{{SITENAME}}
			</el-header>-->
			<el-container>
				<el-main>
					<p v-if="false">如果你看到这行文字，大概是<a href="https://vuejs.org" target="_blank">Vue.js</a>炸了罢（悲）</p>
					<h2>注册{{SITENAME}}账户</h2>
					<el-steps
						:active="step"
						align-center
					>
						<el-step
							title="输入UID"
							icon="el-icon-user"
						></el-step>
						<el-step
							title="发送验证码"
							icon="el-icon-document-copy"
						></el-step>
						<el-step
							title="填写资料"
							icon="el-icon-edit-outline"
						></el-step>
					</el-steps>

					<div v-if="stat==='HOME'">
						<p class="soul-p1">
							{{SITENAME}}要求哔哩哔哩正式会员方可注册，敬请谅解。
						</p>
						<p>
							如果你没有哔哩哔哩账号，请到<el-link href="https://passport.bilibili.com" target="_blank">哔哩哔哩账户中心</el-link>注册；<br>
							如果你不是正式会员，请<el-link href="https://account.bilibili.com/answer/base" target="_blank">答题转正</el-link>；<br>
							如果你已完成第二步（发送验证码），<el-link type="primary" @click="stat='RECOVER',step=1.5">请点击这里</el-link>。
						</p>
						<el-button
							type="primary"
							@click="stat='START',step=0"
						>开始注册</el-button>
					</div>

					<div v-else-if="stat==='START'">
						<p class="soul-p1">
							请输入你的哔哩哔哩UID。
						</p>
						<p>
							如果你不知道你的UID，请到你的<el-link type="primary" href="https://space.bilibili.com" target="_blank">哔哩哔哩个人空间</el-link>查看。
						</p>
						<el-input
							v-model="start.uid"
							type="tel"
							placeholder="你的UID"
							clearable
							@input="start.uid=start.uid.replace(/[^0-9]/g,'');fetchUserInfo()"
						>
							<template slot="prepend">UID: </template>
						</el-input>
						<el-card
							style="margin: 15px 0;white-space: nowrap;"
							v-if="start.userInfo.data && 'name' in start.userInfo.data"
						>
							<img
								:src="`/l/getImage.php?url=${encodeURIComponent(start.userInfo.data.face)}`"
								style="width:200px;height:200px;border-radius:150px;vertical-align:top;margin-right:15px;"
							></img>
							<div style="display:inline-block;width: calc(100% - 215px);">
								<p style="font-size:30px;">{{start.userInfo.data.name}}</p>
								<div>
									<span class="soul-p soul-p2">LV{{start.userInfo.data.level}}</span>
									<el-divider direction="vertical"></el-divider>
									<span class="soul-p soul-p2">UID: {{start.userInfo.data.mid}}</span>
								</div>
								<p class="soul-p2" style="white-space: pre-wrap;">{{start.userInfo.data.sign}}</p>
							</div>
						</el-card>
						<el-card style="margin: 15px 0" v-else>
							<img
								src="/l/getImage.php?url=http%3A%2F%2Fi0.hdslb.com%2Fbfs%2Fface%2Fmember%2Fnoface.jpg"
								style="width:200px;height:200px;border-radius:150px;vertical-align:top;margin-right:15px;"
							></img>
							<div style="display:inline-block;">
								<p style="font-size:30px;">???</p>
								<div>
									<span class="soul-p soul-p2">LV?</span>
									<el-divider direction="vertical"></el-divider>
									<span class="soul-p soul-p2">UID: ...</span>
								</div>
								<p class="soul-p2">&nbsp;</p>
							</div>
						</el-card>
                        <el-button
                            type="warning"
                            plain
                            @click="stat='HOME',step=0"
                        >返回</el-button>
                        <el-button
                            v-if="start.userInfo.soulStat === 'loading'"
                            type="primary"
                            disabled
                        >加载中...</el-button>
                        <el-button
                            v-else-if="start.userInfo.soulStat === 'await'"
                            type="primary"
                            disabled
                        >下一步</el-button>
                        <el-button
                            v-else-if="start.userInfo.data && 'name' in start.userInfo.data"
                            type="primary"
                            @click="stat='SEND',step=1"
                        >下一步</el-button>
                        <el-button
                            v-else
                            type="warning"
                            disabled
                        >{{start.userInfo.message ? `${start.userInfo.message}` : '服务器出错'}}</el-button>
					</div>

					<div v-else-if="stat==='SEND'">
						<el-card style="margin: 15px 0">
							<div>{{SITENAME}}（{{LINK}}）注册验证码：</div>
							<div style="font-size:30px;">暮光闪闪在友谊城堡和萍琪派一起做蛋糕</div>
						</el-card>
						<el-dropdown>
							<el-button>
								换种说法<i class="el-icon-arrow-down el-icon--right"></i>
							</el-button>
							<el-dropdown-menu slot="dropdown">
								<el-dropdown-item>官方译名</el-dropdown-item>
								<el-dropdown-item>民间译名</el-dropdown-item>
								<el-dropdown-item>English</el-dropdown-item>
								<el-dropdown-item>？？？？</el-dropdown-item>
							</el-dropdown-menu>
						</el-dropdown>
						<p class="soul-p1">
							这是你的验证码。请先把验证码发送到<el-link type="primary" href="https://t.bilibili.com" target="_blank">哔哩哔哩动态</el-link>，然后返回这里。烦请妥善保存验证码，稍后可能还需要用到。
						</p>
						<p>
							如果你30分钟内没有返回并继续注册，验证码将失效。
						</p>
						<el-button
                            type="warning"
                            plain
                            @click="stat='START',step=0"
                        >上一步</el-button>
						<el-button
                            type="primary"
                            @click=""
                        ><small style="font-size:12px">确认已发送验证码，</small>开始验证</el-button>
					</div>

					<div v-else-if="stat==='RECOVER'">
						<p class="soul-p1">
							很抱歉，注册会话中断了。如果你已将刚才的验证码发送到<el-link type="primary" href="https://t.bilibili.com" target="_blank">哔哩哔哩动态</el-link>，请在下方输入验证码以继续。粘贴或手动输入都可以完成验证。
						</p>
						<el-form
                            ref="form"
                            label-width="80px"
                        >
							<el-form-item label="粘贴">
                                <el-col :span="20">
								    <el-input
                                        v-model="recover.paste_code"
                                        placeholder="在此粘贴验证码"
                                        clearable
                                    ></el-input>
                                </el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="3">
									<el-button
                                        type="primary"
                                        style="width: 100%;"
                                        @click=""
                                    >确认</el-button>
								</el-col>
							</el-form-item>
							<el-form-item label="手动输入">
								<el-col :span="4">
									<el-select
                                        v-model="recover.character1"
                                        style="width: 100%;"
                                    >
										<el-option
                                            v-for="item in vcode.characters"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"
                                        ></el-option>
									</el-select>
								</el-col>
								<el-col style="text-align:center" :span="1">在</el-col>
								<el-col :span="4">
									<el-select
                                        v-model="recover.locaion"
                                        style="width: 100%;"
                                    >
										<el-option
                                            v-for="item in vcode.locations"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"
                                        ></el-option>
									</el-select>
								</el-col>
								<el-col style="text-align:center" :span="1">和</el-col>
								<el-col :span="4">
									<el-select
                                        v-model="recover.character2"
                                        style="width: 100%;"
                                    >
										<el-option
                                            v-for="item in vcode.characters"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"
                                        ></el-option>
									</el-select>
								</el-col>
								<el-col style="text-align:center" :span="2">一起</el-col>
								<el-col :span="4">
									<el-select
                                        v-model="recover.action"
                                        style="width: 100%;"
                                    >
										<el-option
                                            v-for="item in vcode.actions"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value"
                                        ></el-option>
									</el-select>
								</el-col>
								<el-col :span="1">&nbsp;</el-col>
								<el-col :span="3">
									<el-button
                                        type="primary"
                                        style="width: 100%;"
                                        @click=""
                                    >确认</el-button>
								</el-col>
							</el-form-item>
						</el-form>

						<el-button
                            type="warning"
                            plain
                            @click="stat='HOME',step=0"
                        >返回</el-button>
					</div>

					<div v-else-if="stat==='INFO'">

					</div>

					<div v-else-if="stat==='COMPLETE'">

					</div>
				</el-main>
				<el-footer>
					<p class="soul-p2">{{SITENAME}}不归属于哔哩哔哩，也不由哔哩哔哩运营。</p>
					<p class="soul-p2">Powered by <el-link icon="el-icon-eleme" href="https://element.eleme.cn" target="_blank">Element</el-link></p>
				</el-footer>
			</el-container>
		</el-container>
		</div>
	</body>
	<script>
"use strict";
const vm = new Vue({
	el: "#app",
	data: {
		SITENAME: "PonyGame",
		LINK: "jiade.meizhegewangzhan.org.cn",
		stat: "HOME",
		step: -1,

		start: {
			uid: "",
   promise: null,
			userInfo: {soulStat: "await"}
		},
		send: {
		},
		recover: {
			paste_code: "",
			character1: "",
			location: "",
			character2: "",
			action: ""
		},
		info: {

		},

		vcode: {
			characters: [
				{label: "暮光闪闪/紫悦/Twilight Sparkle", value: "ts", zh: "暮光闪闪", o: "紫悦", en: "Twilight Sparkle", fun: ["紫色少妇"]},
				{label: "萍琪派/碧琪/Pinkie Pie", value: "pp", zh: "萍琪派", o: "碧琪", en: "Twilight Sparkle", fun: ["神驹"]}
			],
			locations: [
				{label: "友谊城堡", value: "frndshpCsl", zh: "友谊城堡", o: "友谊城堡", en: "in the Friendship Castle", fun: ["暮光的中指"]}
			],
			actions: [
				{label: "做蛋糕", value: "bakeCakes", zh: "做蛋糕", o: "做蛋糕", en: "baking cakes"}
			]
		}
	},
	methods: {
		fetchUserInfo(){
			if (this.start.uid === "") {
				this.start.userInfo = {soulStat: "await"};
				return;
			}
			this.start.userInfo = {soulStat: "loading"};
			this.start.promise = this.$http.get(`getUserInfo.php?uid=${this.start.uid}`)
				.then(function(res){
					this.start.userInfo = res.body;
				})
				.catch(function(){
					this.start.userInfo = {};
				});
		}
	}
});
	</script>
</html>