:root{
--soultpl-back-color:#101010;
--soultpl-fore-color:#F0F0F0;
--soultpl-back-color-dim:#202020;
--soultpl-back-color-dim2:#404040;
--soultpl-link-color:#8080F0;
--soultpl-link-visited-color:#C080F0;
}
