/*!
 * Customized and built by DGCK81LNN
 */

$primary: #33bfab;
$success: #98f01b;
$info: #30bbc9;
$warning: #ecf73a;
$danger: #f15;
$font-family-sans-serif: 'Source Han CN', '思源黑体 CN', 'PingFang SC', '苹方-简', 'Microsoft YaHei', '微软雅黑', sans-serif;

@import '../node_modules/bootstrap/scss/bootstrap';
