<!doctype html>
<html lang="cmn">
<!--
  这是灵魂小站 / 应用!
  ID: apps.index // soulapps
-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="/css/soul_bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap-vue/2.21.0/bootstrap-vue.min.css">
  <link rel="stylesheet" href="/css/commons.css">
  <link rel="icon" href="/site_icon.png">
  <link rel="shortcut icon" href="/site_icon.png">
  <link rel="apple-touch-icon" href="/site_icon.png" sizes="160x160">
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.12/vue.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap-vue/2.21.0/bootstrap-vue.min.js"></script>
  <script src="/js/components.min.js"></script>
  <title>应用 - 灵魂小站</title>
  <style>
    .flex {
      flex-wrap: wrap;
    }
    .card {
      flex: 1;
      min-width: 300px;
      margin: 1rem 8px;
    }
    .card-link {
      float: right;
      padding: 3px 0;
    }
    .card img {
      float: left;
      height: 60px;
      margin: 1rem;
    }
  </style>
</head>

<body>
  <div id="app">
    <p v-if="false">如果这条消息一直显示，说明脚本加载失败或运行出错，可能是因为您的浏览器不支持ECMAScript 2015。</p>
    <soul-header></soul-header>
    <soul-main>
      <b-breadcrumb>
        <b-breadcrumb-item href="/home">主站</b-breadcrumb-item>
        <b-breadcrumb-item active>应用</b-breadcrumb-item>
      </b-breadcrumb>

      <b-card-group deck class="flex">
        <b-card
        v-for="item in a"
        :key="item.title"
        class="card"
        >
          <div slot="header" class="clearfix">
            <span>{{item.title}}</span>
            <b-link
            v-if="item.link"
            class="card-link"
            :href="item.link"
            >进入</b-link>
          </div>
          <div v-html="item.body"></div>
        </b-card>
      </b-container>
    </soul-main>
    <soul-footer></soul-footer>
  </div>
  <script>
    var vm = new Vue({
      el: "#app",
      data: {
        a: [
          {
            title: "灵魂实验室",
            body: `<p>
                运行JavaScript... 或者一些奇怪的编程语言。
              </p>`,
            link: "lab/"
          },
          {
            title: "更多内容即将到来...",
            body: ""
          }
        ]
      }
    });
  </script>
</body>

</html>
